/* :root {
  --bg-light: #f40000;
  --bg-dark: linear-gradient(to bottom, #1a202c, #2d3748);
}

body {
  background-color: red;
  color: var(--text-light);
}

.dark body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
} */

.vertical-timeline::before {
  background-color: #04c4ff !important;
}

.vertical-timeline.vertical-timeline--two-columns {
  width: 100%;
}

.custom-shadow {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.9);
}

html {
  scroll-behavior: smooth;
}

.active {
  color: aqua !important;
}
body {
  padding: 0;
  margin: 0;
}
