:root {
  /* Light Mode Theme */
  --theme-color: teal;
  --border-color: #0ef;
  --arrow-color: #ffffff;
  --card-bg-color: #ffffff;
  --custom-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.dark {
  /* Dark Mode Theme */
  --theme-color: #0ef;
  --border-color: teal;
  --arrow-color: #0ef;
  --card-bg-color: transparent;
  --custom-shadow: 0 12px 24px rgba(0, 0, 0, 0.9);
}

.custom-shadow {
  box-shadow: var(--custom-shadow);
}

.vertical-timeline::before {
  background-color: var(--theme-color) !important;
}

.vertical-timeline.vertical-timeline--two-columns {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.active {
  color: var(--theme-color) !important;
}

body {
  padding: 0;
  margin: 0;
}

.btn {
  box-shadow:
    0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
